@font-face {
    font-family: 'Recoleta';
    src: url('fonts/Recoleta-Medium.woff2') format('woff2'),
         url('fonts/Recoleta-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('fonts/Recoleta-SemiBold.woff2') format('woff2'),
         url('fonts/Recoleta-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body {
     background-color: #ffffff;
}

.hidden {
    display: none;
}


#recipeList ul {
     padding-left: 0;
     list-style-type: none;
}

.btn-primary, .btn-secondary, .btn-secondary:hover, .btn-primary:hover{
  background-color: #ff3131 !important;
  border-color: #ff3131 !important;
}
.recipe-card{
    height: auto;

}
